.footer-container {
    background: $lightGreen;
    padding: 75px 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    img {
        width: 200px;
        height: 100%;
    }

    ul {
        li {
            list-style: none;
            margin: 10px 0;
        }
    }

    a {
        color: $font;
        font-weight: bold;
        text-decoration: none;
        font-size: 18px;

        &:hover {
            color: $primary;
        }
    }
}