nav {
    position: absolute;
    left: 0;
    top: 16px;
    z-index: 100;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: $lightGreen;

    .nav-logo {
        display: inline-block;
        width: 2.5em;
        height: auto;
        margin-right: 10px
    }

    .nav-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        height: 80px;
    }

    a {
        color: $font;
        font-weight: bold;
        text-decoration: none;
        font-size: 18px;

        &.active {
            color: $primary;
        }
    }

    .nav-right {
        position: relative;

        input, span, .submenu {
            display: none;
        }

        .item {
            position: relative;
            display: inline-block;

            &:hover, {
                .submenu {
                    display: block;
                    position: absolute;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    background-color: $lightGreen;
                    padding: 10px;
                    
                    a {
                        white-space: nowrap;
                        margin: 10px;
                        display: block;
                    }
                }
            }
        }

        a {
            margin: 0 10px;

            &:hover {
                color: $primary;
            }
    
            &:last-child {
                margin: 0 0 0 10px;
            }
        }

        .devider {
            display: inline;
            &::after {
                content: '|';
                color: $font;
                margin: 0 10px;
            }
        }

        // MOBILE MENU
        @media screen and (max-width: 1023px) {
            .item .submenu, .item:hover .submenu {
                display: block;
                position: relative;
                padding: 0 0 0 30px;
                box-shadow: none;

                a {
                    margin: 20px 15px;
                }
            }

            .menu-items {
                display: none;
            }

            .devider {
                border-top: 1px solid #373535;
                margin: 0 20px 0 0;
                height: 1px;
                width: 100%;
                
                &::after {
                    content: '';
                }
            }
    
            input, span {
                display: block;
            }
    
            input {
                width: 40px;
                height: 32px;
                position: absolute;
                top: -7px;
                left: -5px;
                cursor: pointer;
                opacity: 0; /* hide this */
                z-index: 2; /* and place it over the hamburger */
                -webkit-touch-callout: none;
            }
    
            span {
                width: 33px;
                height: 4px;
                margin-bottom: 5px;
                position: relative;
                background: $font;
                border-radius: 3px;
                z-index: 1;
                transform-origin: 4px 0px;
                transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
            }
    
            span:first-child {
                transform-origin: 0% 0%;
            }
    
            span:nth-last-child(2) {
                transform-origin: 0% 100%;
            }

            // MENU OPEN
            input:checked {
                ~ span {
                    opacity: 1;
                    transform: rotate(45deg) translate(-2px, -1px);
                    background: #232323;
                }
                ~ span:nth-last-child(3) {
                    opacity: 0;
                    transform: rotate(0deg) scale(0.2, 0.2);
                }
                ~ span:nth-last-child(2) {
                    transform: rotate(-45deg) translate(0, -1px);
                }
                ~ .menu-items {
                    display: flex;
                    flex-direction: column;
                    position: fixed;
                    padding: 0 10px;
                    left: 0;
                    text-align: left;
                    margin-top: 26px;
                    background: $lightGreen;
                    width: 100%;

                    a {
                        display: block;
                        margin: 20px 15px;
                    }
                }
            }
        }
    }
}