.image-container {
    margin-bottom: 50px;
}

.image-tag {
    position: absolute;
    border: 3px solid rgba(255, 255, 255, .25);
    cursor: pointer;

    .tag-caption {
        display: none;
        width: 100%;
        top: -10px;
        transform: translateY(-100%);
        text-align: center;
    }

    &:hover {
        border: 3px solid rgba(255, 255, 255, .9);
        .tag-caption {
            display: block;
        }
    }
}