.landing-page {
    .site-header {
        padding: 0 50px;
    }

    .site-header,
    section {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    .header-logo {
        width: auto;
        max-height: 50vh;
    }

    .flex {
        display: flex;
        width: 100%;
    }

    .flex-column {
        width: 100%;   
    }

    .mol {
        width: 100%;
        margin-top: 25px;
        cursor: grab;
    }

    .big-text {
        h1 {
            display: inline;
            color: $pink;
        }

        h1, span {
            font-size: 52px;

            @media screen and (max-width: 1200px) {
                font-size: 40px;
            }

            @media screen and (max-width: 900px) {
                font-size: 28px;
            }

            @media screen and (max-width: 400px) {
                font-size: 22px;
            }

            @media screen and (max-width: 360px) {
                font-size: 18px;
            }
        }

        span {
            color: $font;
        }
    }
}