.landing-page {
    .site-header {
        padding: 0 50px;
    }

    .site-header,
    section {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    .header-logo {
        width: auto;
        max-height: 50vh;
    }

    h1 {
        margin: 0;
        color: #000;

        // todo var
        @media screen and (max-width: 560px) {
            font-size: 26px;
        }

        @media screen and (max-width: 400px) {
            font-size: 22px;
        }
    }

    .flex {
        display: flex;
        width: 100%;
    }

    .flex-column {
        width: 100%;   
    }

    .mol {
        width: 100%;
        margin-top: 25px;
        cursor: grab;
    }

    // basic section style
    .full-height {
        h2 {
            display: inline;
        }

        h2, span {
            font-size: 52px;
        }

        span {
            color: $purple;
        }
    }
}