.notebook {
    height: 100%;
    padding-top: 50px;
    background: #fff;
    z-index: 3;
}

.infobox {
    position: absolute;
    top: 240px;
    left: 200px;
    min-width: 200px;
    max-width: 1200px;
    width: calc(100% - 250px);
    padding: 50px;
    border: 5px solid $lightBlue;
    background: #fff;

    h2 {
        text-align: left;
    }

    &.has-image {
        display: flex;

        > * {
            margin: 0 20px;
        }
    }

    &.fixed {
        position: fixed;
        z-index: 3;
        top: 185px;
        left: 220px;
        width: calc(100% - 290px);

        @media screen and (min-width: 1440px) {
            left: calc((100vw / 2) - 720px + 200px);
        }
    }

    &::before {
        content: " ";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 25px 50px 25px 0;
        border-color: transparent $lightBlue transparent transparent;
        position: absolute;
        top: 20px;
        left: 0;
        transform: translateX(-100%);
    }

    &::after {
        content: " ";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 40px 20px 0;
        border-color: transparent #fff transparent transparent;
        position: absolute;
        top: 25px;
        left: 0;
        transform: translateX(-100%);
    }
}

.infobox-date {
    margin: 0;
    font-size: 30px
}

.infobox-image {
    width: 100%;
    height: auto;

    &.no-image {
        display: none;
    }
}

.timeline {
    position: relative;
    border-left: 5px solid #000;
    margin-left: 30px;
    margin-top: 50px;
    padding-bottom: 300px;

    .tl-first-element {
        padding: 70px 10px;
    }

    > div {
        padding: 75px 10px;
        display: none;
        align-items: center;

        &.visible {
            display: flex;
        }
    }
}

.timeline-dot::before {
    content: " ";
    width: 45px;
    height: 5px;
    background: #000;
    display: block;
    margin-left: -35px;
}

.timeline-month::before {
    content: " ";
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: $lightBlue;
    display: inline-block;
    margin-left: -35px;
    margin-right: 10px;
}

.category-container {
    display: flex;
    justify-content: space-evenly;

    h3 {
        display: inline-flex;
        align-items: center;
        width: 100%;
    }
}

.category {
    margin: 0 50px;
    width: 100%;
    cursor: pointer;

    @media only screen and (max-width: 1200px) {
        margin: 0 30px;
    }
}

.synthesis-color {
    .infobox {
        border: 5px solid $orange;
        &::before { border-color: transparent $orange transparent transparent; }
    }
    .timeline-month::before {
        background: $orange;
    }
}

.human-practice-color {
    .infobox {
        border: 5px solid $greyBlue;
        &::before { border-color: transparent $greyBlue transparent transparent; }
    }
    .timeline-month::before {
        background: $greyBlue;
    }
}

.chlamy-color {
    .infobox {
        border: 5px solid $green;
        &::before { border-color: transparent $green transparent transparent; }
    }
    .timeline-month::before {
        background: $green;
    }
}

.bioreaktor-color {
    .infobox {
        border: 5px solid $lightBlue;
        &::before { border-color: transparent $lightBlue transparent transparent; }
    }
    .timeline-month::before {
        background: $lightBlue;
    }
}
