.notebook {
    height: 100%;
    padding-top: 100px;
}

.infobox {
    position: absolute;
    top: 150px;
    left: 200px;
    min-width: 200px;
    padding: 50px 0 50px 50px;
    border: 5px solid $lightBlue;

    &.fixed {
        position: fixed;
    }

    &::before {
        content: " ";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 25px 50px 25px 0;
        border-color: transparent $lightBlue transparent transparent;
        position: absolute;
        top: 20px;
        left: 0;
        transform: translateX(-100%);
    }

    &::after {
        content: " ";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 40px 20px 0;
        border-color: transparent #fff transparent transparent;
        position: absolute;
        top: 25px;
        left: 0;
        transform: translateX(-100%);
    }
}

.timeline {
    position: relative;
    border-left: 5px solid #000;
    margin-left: 30px;
    padding-bottom: 250px;

    .tl-first-element {
        padding: 95px 10px;
    }

    > div {
        padding: 200px 10px;
        display: flex;
        align-items: center;
    }
}

.timeline-dot::before {
    content: " ";
    width: 45px;
    height: 5px;
    background: #000;
    display: block;
    margin-left: -35px;
}

.timeline-month::before {
    content: " ";
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: $lightBlue;
    display: inline-block;
    margin-left: -35px;
    margin-right: 10px;
}