.fixed-header-container {
    position: relative;
}

.fixed-image-header {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding: 0;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.fixed-header-content {
    position: relative;
    z-index: 2;
    margin-top: 100vh;
}

.page-headline {
    position: absolute;
    bottom: 5vh;
    text-transform: uppercase;
    z-index: 2;
    color: #000;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    border-bottom: 2vh solid $greyBlue;

    &.description {
        font-size: 14vw;
        line-height: 14vh;
    }
}

.page-subheadline {
    text-align: left;
    font-size: 10vw;
    line-height: 10vh;
    color: #000;
    margin: 0 2vw 20px;
}

.headline3 {
    font-size: 26px;
    line-height: 28px;
}

.no-filter img {
    filter: none;
}

.two-columns {
    display: flex;
    margin: 120px 0;

    > * {
        width: 100%;
        padding: 0 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media screen and (max-width: 760px) {
            margin-bottom: 40px;
        }
    }

    &.not-centered > * {
        justify-content: flex-start;
    }

    &.no-margin-top {
        margin-top: 0;
    }

    @media screen and (max-width: 760px) {
        flex-direction: column;
    }
}

.two-columns-headline {
    margin: 120px 0 15px;
    padding: 0 5%;
}

.medium-sized p,
p.medium-sized {
    font-size: 18px;
}

.small-sized p {
    font-size: 12px;
}

.quote {
    display: flex;
    max-width: 1000px;
    margin: 60px auto 150px;
    padding: 0 50px;

    img {
        object-fit: contain;
    }

    &.image-left .quote-image-container {
        margin-right: 40px;
    }

    &.image-right .quote-image-container {
        margin-left: 40px;
    }

    .small-image {
        width: 33%;
    }

    img.check-icon {
        width: 50px;
        height: 50px;
        margin: 0;
        display: inline-block;
    }
}

.big-text b {
    line-height: 1.188em;
}

.big-text p,
.big-text b {
    font-size: 32px;

    @media screen and (max-width: 760px) {
        font-size: 24px;
    }

    @media screen and (max-width: 420px) {
        font-size: 18px;
    }
}

.learn-more {
    h3 {
        font-size: 32px;
        text-align: center;
    }
}

.learn-more-links {
    display: flex;
    justify-content: center;

    @media screen and (max-width: 760px) {
        flex-direction: column;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    a {
        position: relative;
        display: block;
        width: 50%;
        padding: 300px 0 50px;
        background: lightgrey;
        text-decoration: none;

        @media screen and (max-width: 760px) {
            width: calc(100% - 40px);
            margin: 20px;
        }
    }

    h4 {
        position: relative;
        font-size: 45px;
        color: #fff;
        border-bottom: 15px solid $greyBlue;
        display: inline-block;
        margin-bottom: 5px;
        padding: 15px 50px;

        @media screen and (max-width: 760px) {
            font-size: 30px;
            border-bottom: 10px solid $greyBlue;
            padding: 15px 20px;
        }
    }

    p {
        position: relative;
        color: #fff;
        padding: 10px 50px;
        font-size: 24px;
        background-color: rgba(0,0,0,0.5);

        @media screen and (max-width: 760px) {
            padding: 10px 20px;
        }
    }
}

.big-underline {
    border-bottom: 30px solid $greyBlue;
}

.greyblue-devider {
    width: 100%;
    border-bottom: 5px solid $greyBlue;
    position: relative;
    z-index: 2;
}