#top_title {
	display: none !important;
}

h1, h2 {
	overflow: visible;
}

.grey-bg {
	background: $greyBlue;
}

.image-bg img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 0;
	filter: brightness(50%);
}

.image-bg-content {
	position: relative;
	z-index: 1;
	min-height: 550px;
}

.full-height {
	height: 100vh;
	min-height: 550px;
	padding: 20px;
}

.width-limit {
	max-width: 1440px;
	margin: 0 auto;
	position: relative;
    z-index: 2;
}

.relative-container {
	position: relative;
}

.margin-top {
	margin-top: 80px;
}

.hidden {
    display: none !important;
}

.visible {
    display: block !important;
}

.ar16-9 {
	padding: 56.25% 0 0;
}

.ar100vh {
	padding: 100vh 0 0;
}

.block-text {
	display: block;
	hyphens: auto;
	text-align: justify;

	@media screen and (max-width: 760px) {
		text-align: left;
		hyphens: none;
	}
}

.to-top-link {
	display: block;
	text-align: center;
	font-size: 22px;
	margin: 50px 0;
	color: #373535;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;

	img {
		display: inline-block;
		width: 20px;
		margin-top: -2px;
		transform: rotate(180deg);
	}
}

.no-bulletpoint {
	list-style: none;
}
.hover-blue a {
	color: #000;

	&:hover {
		color: $lightGreen;
		text-decoration: none;
	}
}
.padding-container {
	padding: 0 5%;
}