/* Webfont: Lato-Bold */
@font-face {
    font-family: 'Lato';
    src: url('https://2019.igem.org/wiki/images/7/72/T--Humboldt_Berlin--Lato-Bold.woff') format('woff');
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Italic */
@font-face {
    font-family: 'Lato';
    src: url('https://2019.igem.org/wiki/images/e/e2/T--Humboldt_Berlin--Lato-Italic.woff') format('woff');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Regular */
@font-face {
    font-family: 'Lato';
    src: url('https://2019.igem.org/wiki/images/d/d5/T--Humboldt_Berlin--Lato-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}