$primary: #000;
$bg: #000;
$font: #373535;
$primary: #ff59ab;
$green: #007e48;
$lightGreen: #a2dfba;
$purple: #322460;
$lightBlue: #50bdc4;
$greyBlue: #a7c0e5;
$pink: #f29799;
$lightPurple: #d299c1;
$lightPink: #f9d5e2;